.hometotalcontainer{
    height: 100%;
    background-image: linear-gradient(to left, rgb(139, 139, 245), rgb(225, 222, 222));
    margin-top: 0px;
    width: 100%;
}
.homecontainer{
    background-image: url("https://img.freepik.com/free-photo/blue-black-muscle-car-with-license-plate-that-says-trans-front_1340-23399.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703462400&semt=ais");
    background-size: cover;
    width: 60%;
    height: 80vh;
}

@media (max-width:500px) {
    .homecontainer{
        background-image: none;
        width: 80%;
    }
    .para{
        width: 100%;
        text-align: center;
    }
}

.tophomecontainer{
    margin-top: 15px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.para{
    text-align: center;
    color: white;
    margin: 30px;
}