.hometotalcontainer{
    height: 100vh;
    background-color: rgb(48, 185, 244);
}
.homecontainer{
    background-image: url("https://img.freepik.com/free-photo/blue-black-muscle-car-with-license-plate-that-says-trans-front_1340-23399.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703462400&semt=ais");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.para{
    text-align: center;
    color: white;
    margin: 30px;
}